body {
	font-family: Sans-Serif;
	margin-left: 25%;
	margin-right: 25%;
}	  

h1  {
	font-family: "Poiret One", Sans-Serif;
}

text {
	font-size: 20pt;
	
}

#count {
	font-size: 26pt;
	font-weight: bold;
	text-align: center;
    top: 150px;
    right: 500px;
    border: 3px solid #73AD21;
    padding-left: 10px;
    padding-right: 10px;
}

#info {
	font-size: 14pt;
	border: 1px solid lightgrey;
	padding: 5px;
}

.redActive:hover, .yellowActive:hover, .blue:hover, .orangeActive:hover {
    cursor: pointer;
}

footer {
	text-align: center;
	padding: 20px;
}

#helplink {
	position: relative;
	left: 95%;
}

#radiodiv {
	margin-left: 10%;
}

#legend {
	font-size: 8pt;
	margin-top: 20%;
}

.textSmall {
    font-size: 12pt;
}

#T11, #T21, #T31, #T41, #T51, #T61, #T71, #T81, #T91 {
    font-size: 12pt;
}